body{
    background-color:#151515;
    overflow-x: hidden;
}


.header{
   
    display: flex;
    gap: 50px;
}
.img1{
    margin-left: 40px;
}

ul{
    list-style-type: none;
    display: flex;
    color: white;
    margin-left: 180px;
}
li{
    margin-left: 20px;
    margin-right: 20px;
}
.nav-p{
    margin-left: 180px;
    color: white;
}
.nav-button{
    margin-left: 50px;
    background: none;
    border: none;
    color: white;
    background-image: url(./Assets/Icons/btn-pink-bg.svg);
    background-repeat: no-repeat;
    margin-top: 16px;
    height: 20px;
}
.drop-down{
    position: relative;
    top: 17px;

    right: 18px;

}
.trans{
    font-size: 80px;
    color: white;
    z-index: 2;
    width: 900px;
}
.Simplify{
    display: flex;

    margin-left: 40px;
    height: 100vh;
}
.simplify-minor{
    z-index: 3;
    
}
.hi{
    z-index: -4;
}
.get-started-button{
    position: relative;
    bottom: 20px;
}
.partition{
    display: flex;
    color: white;
}
.vertical-line{
    margin-left: 5px;
    margin-right: 5px;
}
.p42{
    font-size: 30px;
    margin-right: 8px;
    font-weight: 600;
    position: relative;
    bottom: 12px;
}
.p12{
    font-size: 30px;
    margin-right: 8px;
    font-weight: 600;
    position: relative;
    bottom: 12px;
}

.happy-active-user{
    display: flex;
    margin-right: 5px;
    width: 170px;
}
.years-experience{
    margin-left: 20px;
    display: flex;
    width: 140px;
}

.hurry{
    color: #c8c8c8;
    z-index: -1;
    position: relative;
    bottom: 50px;
    width: 450px;
    font-size: 18px;
}
.plus{
    position: relative;
    top: 23px;
}







.card-1{
    z-index: -1;
    position: relative;
    right: 290px;
    
}
.card-2{
    position: relative;
    bottom: 50px;
    right:1200px ;
    z-index: -2;
}
.r-div{
     position: relative;
     left: 150px;
}
.logo-4{
    background-color: #292929;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;

}
.black-bg{
    display: flex;
    color: white;
}
.best-payment{
    font-size: 70px;
    margin-right: 90px;
    margin-left: 60px;
    line-height: 80px;
}
.services{
    font-size: 22px;
    line-height: 30px;
    position: relative;
    top: 100px;
    margin-right: 150px;
    margin-left: 140px;
    color: #adadad;
}

.box{

    height: 250px;
    width: 250px;
    background-color: gray;
}
.gray-D{
    display: flex;
    gap: 100px;
    justify-content: center;
    height: 50vh;
}
.dollar{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-left: 70px;
    margin-top: 50px;
    
    
}
.fee{
    text-align: center;
    margin-top: 40px;
    font-size: 22px;

}
.dollar-image{
    position: relative;
    top: 9px;
    left: 6px;
}
.D-1{
    background-color:#272727;
    border: solid 1px white;
    color: white;
    

}
.anywhere{
    text-align: center;
    font-size: 21px;
    margin-left: 25px;
    margin-right: 25px;
    color: white;
    margin-bottom: 8px;
}
.cloud{
    margin-left: 65px;
    margin-top: 10px;
    height: 120px;
}

.D-2{
    background: #4d4b49;
    border: solid 2px white;
    position: relative;
    bottom: 30px;
    

}
.guaranteed{
    color: white;
    text-align:center;
    font-size: 22px;
}
.lock{
    margin-left: 43px;
    
}


.D-3{
    background-color: #272727;
    border: solid 1px white;
    
}
.unique{
    color:black;
    background-color: #fff;
    height: 170vh;

}
.unique-p-1{
    font-size: 70px;
    margin-left: 340px;
    width: 700px;
    text-align: center;
    padding-top: 70px;
}
.unique-p-2{

    color: #4d4b49;
    font-size: 20px;
    width: 550px;
    margin-left: 410px;

}
.vertical-cards{
    margin-left: 270px;
    z-index: -1;
}
.satisfied{
    font-size: 60px;
    color: white;
    text-align: center;
    width: 800px;
    margin-left: 270px;
}

.features{
    color: #dbdad9;
    text-align: center;
    font-size: 18px;
    margin-left: 440px;
    margin-right: 440px;
}

.another-g-D{
    height: 170px;
    width: 400px;
    background-color: gray;
    margin-top: 40px;
    color:#cac4bf;
    background-color:#1e1f24 ;
    padding: 12px;
    border: 2px solid white;
}
.platform{
    background-color: #4f4d4c;
}
.cust-rev{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

}
.lets{
    font-size: 60px;
    text-align: center;
    width: 800px;
    margin-left: 270px;
    color: white;
    padding-top: 60px;



}
.customizing{
     background-color: #ab4ca6; 
    height: 50vh;
    background-image: url(./Assets/Photos/Rectangle\ 6773.png);
    background-image: url(./Assets/Photos/Rectangle\ 6774.png);
    background-image: url(./Assets/Photos/Diamond-left.png);
}
.center-button{
    margin-left: 600px;
    background-color: transparent;
    border: none;
    color: white;
}
.footer-logo{
    margin-left: 50px;
}
.footer{
    display: flex;
    height: 25vh;
    margin-top: 60px;
    font-size: 14px;
}
.pink-text{
    color: #de2ad8;

}
.black-text{
    color: black;
}
.button{
    background: none;
    border: none;
    color: white;
    background-image: url(./Assets/Icons/btn-pink-bg.svg);
    background-repeat: no-repeat;
    font-size: 16px;
    font-weight: 600;
}




